body{
    background-color: rgb(202, 230, 227);
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3,190px);
    grid-template-rows: repeat(3,190px);
    /* border: 2px solid red; */
    margin-left: 400px;
    margin-top: -120px;

  
}

.grid-container div{
    background-color: rgb(150, 112, 76);
    margin: 9px;
    border: 2px solid ;
}

h1{
    /* border: 2px solid red; */
  display: inline;
  margin-top: 500px;
  font-size: 70px;
  color: rgb(132, 201, 194);
}

img{
   width: 168px;
   height: 169px;
   
}